@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
  font-family: 'MyLogoFont';
  src: url('../assets/halimun/Halimun.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Fira Code", monospace;
  --color-yellow: #FFD93B;
  --color-yellow-accent: #FED21C;
  --color-blue: #00C4CC;
  --color-light-purple: #A548FF;
  --color-dark-purple: #6422B8;
  --color-pink: #FF6DC2;
  --color-orange: #FFA53B;
  --navbar-height: 40px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* NavBar */

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-pink);
  padding: 1rem;
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
 color: white;
}
.logoFontNav {
  font-family: 'MyLogoFont';
  padding-top: 0.5rem;
}
.navLinksContainer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
}

/* Sections */

.section-title {
  font-family: "Playfair Display";
  font-size: 50px;
  color: white;
  text-transform: uppercase;
}

.sections-main-container {
  width: 100vw;
  max-width: 100%;
}

.section {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
padding-top: calc(var(--navbar-height) + 20px);
padding-bottom: calc(var(--navbar-height) + 20px);
}

.section-welcome {
    background-color: var(--color-yellow);
    align-content: center;
}

.section-skills {
    background-color: var(--color-dark-purple);

}

.section-about-me-purple {
    background-color: var(--color-dark-purple);
}

.section-about-me-blue {
  background-color: var(--color-blue);
}


.section-goal {
  background-color: var(--color-pink);
}
.section-projects {
    background-color: var(--color-yellow);
}

.section-blog{
    background-color: var(--color-dark-purple);
}


.section-shop {
  background-color: var(--color-blue);
}

.section-contact { 
    background-color: var(--color-orange);
}




.welcome-section-container {
  display: flex;
  justify-content: row;
  padding-top: 2rem;
  align-items: center;
  flex-wrap: wrap;

}


/* Welcome col 1 */

.welcome-col-1 {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
left: 0;

}

.welcome-text {
  margin: 0;
  text-align: center;
  font-family: 'Playfair Display';
  text-transform: capitalize;

  
}
.welcome-text-container{
  position: absolute;

}
.welcome-logo {
  font-family: "MyLogoFont";
}

.welcome-background-img {
  object-fit: contain;

}

.welcomeBackgroundImage {
  
  max-height: 500px;
}


/* Welcome col 2 */

.welcome-col-2 {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.intro-text {
  position: absolute;
  max-width: 350px;
  font-size: 0.8rem;
  text-align: center;
}

.intro-background-img {
   object-fit: contain;
}

.introBackgroundImage {

   min-height: 500px;
}



.intro-cta-button{}


/* Welcome col 3 */

.side-html-img {}



.sideHtmlImage {
  max-height: 600px;
  min-height: 100px;

}





/* Experience Section */

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
}

.experienceImage {
  max-width: 750px;
}


.workImage {
  max-width: 750px;
}


.teal-box{
  background-color: var(--color-blue);
  width: 263px;
  height: 410px;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
 
}

.pink-box {
  background-color: var(--color-pink);
  width: 263px;
  height: 410px;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.skills-box-web-design {
  grid-column: 3 / 3;
  grid-row: 2 / 3;
}

.skills-box-web-development {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}





/* Skills Section */

.skills-section-container {
  display: flex;
  flex-direction: row;
}

.workImage {
  max-height: 800px;
}

.page-break-container {
  background-color: var(--color-yellow);
  height: 450px;
  width: 90%;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}


.box {
  width: 300px;
  height: 300px;
}

.box1 {
  background-color: var(--color-blue);
}

.box2 {
  background-color: var(--color-pink);
}

.box3 {
  background-color: var(--color-orange);
}


/* ABOUT ME */

.my-coding-journey {
 border: 5px var(--color-blue) solid;
  height: 450px;
  width: 90%;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}

.aboutMeImage {
  width: 800px;
  height: 500px;
}

.why-i-code {
  border: 5px var(--color-pink) solid;
  height: 45vh;
  width: 90%;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  align-content: center;
 

}

.laptopImage {
  width: 300px;
  height: 300px;

}

.why-a-blog {
  border: 5px var(--color-yellow) solid;
  height: 45vh;
  width: 90%;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}
.lightbulbImage {
  width: 300px;
  height: 300px;
}
.the-goal {
  border: 5px var(--color-yellow) solid;
  height: 600px;
  width: 90%;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  margin-top: 3rem;

}

.teamworkImage {
  width: 500px;
  height: 500px;
}


/* PROJECTS */
.section-projects {
  min-height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.projects-section-container {
  display: flex;
  width: 100%;

}

.projects-left {
  flex: 1;
 
}

.projects-right {
  flex: 1;
  display: flex;

  height: 100%;
  margin: 0;
  padding: 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%; 
  width: 100%; 
  
}

.projects-grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  height: calc((var(--vh, 1vh) * 100) / 3);

}

.project-1 { background-color: var(--color-blue); }
.project-2 { background-color: var(--color-pink); }
.project-3 { background-color: var(--color-light-purple); }
.project-4 { background-color: var(--color-orange); }
.project-5 { background-color: var(--color-dark-purple); }
.project-6 { background-color: var(--color-yellow); }


.project-title {
  font-size: 20px;
  font-family: "fira code";
  color: white;
}
